body {
      font-family: "Raleway", sans-serif;
    }
    .card {
      background-color: #C1CEFE !important;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 90%;
      margin: auto;
    }
    .card-body p,
    .card-body mark {
      color: #000; 
    }
    .card-body mark {
      background-color: #9BA7E0;
      padding: 0.2em 0.4em;
      border-radius: 4px;
    }.card {
  height: 100%;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


  
h4 {
  margin-top: 1rem;
}
