body {
      font-family: "Raleway", sans-serif;
    }
    .card {
      background-color: #C1CEFE !important;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 90%; /* Slightly smaller */
      margin: auto;
    }
    .card-body p,
    .card-body mark {
      color: #000; /* black text for readability */
    }
    .card-body mark {
      background-color: #9BA7E0;
      padding: 0.2em 0.4em;
      border-radius: 4px;
    }
  
h4 {
  margin-top: 1rem;
}
