body {
  	font-family: 'Raleway', sans-serif;
}

.container {
	background-color: #C1CEFE;
	border-radius: 7px;
	box-shadow: 2px 1px 23px 1px rgba(153,153,153,0.75);
	padding: 2px 16px;
	margin: 50px;
	justify-content: center;
}

.containerFooter {
	padding: 2px 20px 0px 76px;
	justify-content: center;
}
